<h2>LISTA DE VIDEOJUEGOS</h2>
<ul>
    <li *ngFor='let videojuego of videojuegos'>
        <span appDVideojuego>{{videojuego.titulo}}</span> -
        {{videojuego.desarrolladora | pVideojuego}} - 
        {{videojuego.precio | currency:'EUR':'code'}} € -  <!-- PIPE PREDEFINIDA EN EL SISTEMA DE ANGULAR -->
        {{videojuego.anoLanzamiento}} - 
        {{videojuego.genero}} - 
        {{videojuego.puntuacion}}
    </li>
</ul>
<h2>ORDENAR POR PRECIO</h2>
<button (click)="ordenarArrayPrecio()">ORDENAR</button>
<ul>
    <li *ngFor="let mejor of ordenPrecio">
        <span appDVideojuego>{{mejor.titulo}}</span> -
        {{mejor.desarrolladora | pVideojuego}} - 
        {{mejor.precio}} € - 
        {{mejor.anoLanzamiento | date:'yyyy'}} - 
        {{mejor.genero}} - 
        {{mejor.puntuacion}}
    </li>
</ul>
<h2>CRUD VIDEOJUEGO</h2>
<label for="titulo">Titulo:</label> &nbsp;
<input type="text" [(ngModel)]="titulo" [disabled]="id !== null">
<br>
<label for="desarrolladora">Desarrolladora:</label> &nbsp;
<input type="text" [(ngModel)]="desarrolladora" [disabled]="id !== null">
<br>
<label for="precio">Precio:</label> &nbsp;
<input type="number" [(ngModel)]="precio">
<br>
<label for="anio">Año de lanzamiento:</label> &nbsp;
<input type="number" [(ngModel)]="anoLanzamiento" [disabled]="id !== null">
<br>
<label for="genero">Genero:</label> &nbsp;
<input type="text" [(ngModel)]="genero" [disabled]="id !== null">
<br>
<label for="puntuacion">Puntuacion: </label>
<input type="number" [(ngModel)]="puntuacion">
<br>
<button (click)="guardar()">
    {{id !== null ? 'Guardar Cambios' : 'Agregar Videojuego'}}
</button>
<button *ngIf="id !== null" (click)="limpiarFormulario()">Cancelar</button>
<h2>LISTA DE VIDEOJUEGOS</h2>
<ul>
    <li *ngFor='let videojuego of videojuegos'>
        {{videojuego.titulo}} -
        {{videojuego.precio}} € - 
        {{videojuego.puntuacion}}
        &nbsp;
        <button (click)="eliminar(videojuego.id)">Eliminar</button> &nbsp;
        <button (click)="prepararEdicion(videojuego)">Actualizar</button> <hr>
    </li>
</ul>
<h2>MEJOR VALORADOS</h2>
<button (click)="mejorGames()">Mejor valorados</button>
<ul>
    <li *ngFor="let mejor of mejorValorados">
        <span appDVideojuego>{{mejor.titulo}}</span> -
        {{mejor.desarrolladora | pVideojuego}} - 
        {{mejor.precio}} € - 
        {{mejor.anoLanzamiento}} - 
        {{mejor.genero}} - 
        {{mejor.puntuacion}}
    </li>
</ul>


<h2>BUSQUEDA</h2>
<label for="busqueda">Buscar por titulo: </label> &nbsp;
<input type="text" [(ngModel)]="textoBusqueda"><br>
<button (click) = "busquedaPorTitulo(textoBusqueda)">Buscar</button>
<ul>
    <li *ngFor = "let juego of busquedaTitulo">
        <span appDVideojuego>{{juego.titulo}}</span> -
        {{juego.desarrolladora | pVideojuego}} - 
        {{juego.precio}} € - 
        {{juego.anoLanzamiento}} - 
        {{juego.genero}} - 
        {{juego.puntuacion}}
    </li>
</ul>
<div *ngIf="haBuscado && busquedaTitulo.length === 0">
    No se ha encontrado ningún videojuego con ese nombre.
</div>